$black: #34495e;
$blackDark: #2c3e50;
$blackDarker: #21252B;

$purple: #9b59b6;
$purpleDark: #8e44ad;

$blue: #3498db;
$blueDark: #2980b9;

$green: #2ecc71;
$greenDark: #27ae60;

$turquoise: #1abc9c;
$turquoiseDark: #16a085;

$yellow: #f1c40f;
$yellowDark: #f39c12;

$orange: #e67e22;
$orangeDark: #d35400;

$red: #e74c3c;
$redDark: #c0392b;

$white: #ecf0f1;
$whiteDark: #bdc3c7;

$grey: #95a5a6;
$greyDark: #7f8c8d;
