@import "../../constantes/styles/colors.scss";
.mainContainer{
  display: flex;
  flex-direction: column;
}
.mainContainer .infos{
  z-index: 9999;
}
.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.toogleButton{
  width:150px;
  height: 50px;
}
.MyCard{
  background-color: $black;
}
